body {
	background-color: #f0f0f0;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

#scoreCounter {
	margin: 5px  0;
	font-family: 'Alegreya', serif;
	font-weight: 500;
	font-size: 1.44em;
	text-align: center;
}

#inputMaxScore {
	width: 40px;
}

#numClicks {
	font-weight: 600;
	font-size: 1.3em;
}

#firstLetter {
	font-family: 'Lobster', cursive;
	font-size: 2em;
}

#red {
	color: red;
	font-weight: 700;
}

#green {
	color: green;
	font-weight: 700;
}

#blue {
	color: blue;
	font-weight: 700;
}

#howto {
	font-weight: bold;
	text-decoration: underline;
}

#rules {
	font-size: 1.15em;
	padding: 2px 0;
	margin: 5px 0;
	text-align: center;
}

.square {
	width: 30%;
	background-color: purple;
	float: left;
	padding-bottom: 30%;
	margin: 1.66%;
	border-radius: 15%;
	transition: all 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	font-family: 'Satisfy', cursive;
	text-align: center;
	font-weight: normal;
	color: white;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
	line-height: 1.1;
}

table {
	text-align: center;
	padding-top: 2%;
	margin: 0 auto;
	width: 50%;
	font-size: 2em;
}

.disabled {
	display: none;
}

.name {
	text-align: center;
	background-color: #f0f0f0;
	border: none;
	outline: none;
	font-size: 0.9em;
}

#color {
	font-size: 1.67em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Cinzel', serif;
	font-weight: 600;
}

#text {
	padding: 2px 5px;
	border: 1.5px solid #a3d367;
	border-radius: 15%;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	background-color: steelblue;
	color: white;
}

#message {
	display: inline-block;
	width: 20%;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

.square:hover {
	transform: scale(1.1);
}
